@font-face
    font-family: 'Rubik'
    src: url('../fonts/Rubik/Rubik-Regular.ttf')
    font-weight: normal
    font-style: normal

@font-face
    font-family: 'Rubik'
    src: url('../fonts/Rubik/Rubik-Medium.ttf')
    font-weight: 500
    font-style: normal

@font-face
    font-family: 'Rubik'
    src: url('../fonts/Rubik/Rubik-Bold.ttf')
    font-weight: bold
    font-style: normal

@font-face
    font-family: 'Monsterrat'
    src: url('../fonts/Monsterrat-Bold.ttf')
    font-weight: bold
    font-style: normal