@import "../../node_modules/normalize-scss/sass/normalize/import-now"
@import "./swiper-full.scss"
@import "fonts"
@import "colors"

/*=============================Common=============================================================*/
*
    box-sizing: border-box
    margin: 0
    padding: 0
    
#wrapper
    width: 100%
    position: relative
    max-width: 1600px
    margin: auto

.container
    max-width: 1110px
    margin: 0 auto
    position: relative

html
    font-size: 10px

body
    font-family: 'Rubik', sans-serif
    font-weight: normal
    font-size: 18px
    color: $color-main

h1
    font-size: 6rem
    color: $white
    margin: 0
    font-weight: bold
    font-size: 60px
    line-height: 111.9%

h2
    font-size: 3.5rem
    font-weight: 500
    margin: 0
    color: $dark-purple

.nowrap
    white-space: nowrap

// .swiper-container
//     width: 600px
//     height: 300px

/*================================Header========================================================*/
.header
    font-family: 'Rubik', sans-serif
    display: flex
    justify-content: space-around
    align-items: center
    font-size: 14px
    padding: 3% 0

.menu
    display: flex
    padding-left: 0
    margin: 0

    &__link
        list-style: none
        margin-right: 4.5rem
        text-decoration: none
        color: $color-main

.auth
    &__enter
        margin-right: 2rem

    &__registration
        font-family: 'Rubik', sans-serif
        font-weight: 500
        font-size: 16px
        color: $color-main
        padding: 18px 14px
        border-radius: 9px
        background: #F4EFFF
        color: #4E5983
        border: none
        cursor: pointer

/*=================================Main=====================================================*/

.main
    // background: linear-gradient(157.1deg, #562EC2 29.59%, #A07EFE 73.59%)
    background: url('../img/common.jpg') no-repeat top center
    background-size: cover
    // border-radius: 17px
    padding: 7.4vmax 0 5.5vmax
    text-align: center

    &__title
        width: 850px
        text-align: center
        margin: 0 auto

    &__description
        font-size: 1.9rem
        line-height: 2.3rem
        color: $white
        margin-top: 2rem
        margin-bottom: 0
    
    &__block
        // max-width: 80%
        position: relative
        margin-top: 5.5rem

.block1
    padding: 7% 7% 6% 9%
    background: $white
    opacity: 0.8
    border: 4px solid $color-block
    border-radius: 2.6rem
    display: flex
    align-items: flex-end
    text-align: left
    color: #4E5983

.block2
    max-width: 92%
    background: $white
    height: 2rem
    opacity: 0.2
    margin: auto
    border: 4px solid $color-block
    border-radius: 0 0 2.6rem 2.6rem
    
.block3
    width: 88%
    height: 4rem
    background: #FFFFFF
    opacity: 0.2
    border: 4px solid $color-block
    border-radius: 0 0 2.6rem 2.6rem
    margin: auto
    position: absolute
    bottom: -2rem
    left: 6%

.exchange

    &__give
        border-bottom: 1px solid #D6DCE2

    &__get
        border-bottom: 1px solid #D6DCE2

    &__title        
        font-weight: 500
        font-size: 18px
        line-height: 21px
        margin-bottom: 4rem
    
    &__text
        font-size: 14px
        line-height: 17px
        opacity: 0.5
    
    &__commission
        font-size: 12px
        line-height: 14px
        opacity: 0.5
        margin-left: 15px

    &__sum
        font-family: 'Proxima Nova'
        font-size: 2rem
        line-height: 2.4rem
        letter-spacing: 0.015em
        color: #094067
        margin: 2rem 0
        border: none
        border-right: 1px solid #CFD4DA
        width: 170px

    &__field
        display: flex

    &__currency
        display: flex
        align-items: center
        margin-left: 2rem

    &__name
        margin-left: 2rem
        margin-right: 7px
        text-transform: uppercase
                
    &__arrows
        margin: 0 4rem 2.5rem

    &__vector
        cursor: pointer

    &__btn
        padding: 19px 27px
        background: linear-gradient(163.94deg, #562EC2 29.59%, #A07EFE 73.59%)
        color: $white
        font-weight: bold
        font-size: 14px
        line-height: 17px
        border-radius: 9px
        margin-left: 7rem
        border: none
        cursor: pointer
        
.adv
    padding-top: 6.3%

    &__cards
        display: flex
        flex-wrap: wrap
        justify-content: space-between

    &__title
        margin-top: 21%
        margin-bottom: 0

    &__img
        width: 130px
        height: 104px
    
    &__card
        flex-basis: 22%
        min-width: 300px

    &__title
        font-weight: 500
        font-size: 2.2rem
        line-height: 2.6rem

    &__descr
        font-size: 18px
        line-height: 166.5%
        opacity: 0.7
        margin-top: 10.7%
        margin-bottom: 0

.history
    display: flex
    flex-wrap: wrap
    padding: 9.9% 0 8%
    justify-content: space-around
    box-shadow: 0 10px 40px rgba(0, 0, 0, 0.1)

    &__text
        flex-basis: 40%
        min-width: 400px

    &__title
        font-weight: 500
        font-size: 3.5rem
        line-height: 132.4%
        color: #160647

    &__descr
        font-size: 1.8rem
        line-height: 166.5%
        margin: 0

    &__img
        max-width: 100%
    
    &__wrapper-img
        display: flex
        align-items: center

.currency
    padding: 9.2% 0 4.9%

    &__title
        text-align: center
        line-height: 111.9%
        // color: #160647

    &__cards
        margin-top: 7.1%
        display: flex
        flex-wrap: wrap
        justify-content: space-around

    &__card
        display: flex
        flex-basis: 23%
        min-width: 229px
        margin-bottom: 85px

        &-img
            margin-right: 9.2%

    &__money
        &-title
            font-size: 16px
            line-height: 19px
            color: #A4AABF

        &-sum
            font-size: 2rem
            line-height: 155.5%
            color: $dark-purple

.review
    padding-bottom: 6%
    &__title
        line-height: 132.4%

    &__cards
        margin-top: 10.4%

    &__card
        display: flex
        flex-direction: column
        // padding-top: 19.3
        height: 200px

    &__info
        margin-top: auto
        // margin-bottom: 9.8%

    &__text
        font-size: 1.8rem
        line-height: 166%
        // margin-bottom: 11.9%

    &__author
        font-size: 2rem
        line-height: 155.5%
        color: $dark-purple
        margin-right: 3rem

    &__date
        font-size: 14px
        line-height: 17px
        color: $light-purple

    &__navigation
        display: flex
        justify-content: flex-end
        margin-top: 4.5rem

.swiper-button-prev
    cursor: pointer
    margin-right: 2.3rem
    
.swiper-button-next
    cursor: pointer

.promo
    &__wrapper
        max-width: 1238px
        margin: auto
        background: url('../img/begin-bg.png') no-repeat top center
        padding: 6.25% 0 4%
        display: flex
        justify-content: flex-end

    &__text
        max-width: 467px
        margin-right: 10.6%

    &__title
        font-weight: 500
        font-size: 3.5rem
        line-height: 132.4%
        color: $white

    &__descr
        font-size: 1.8rem
        line-height: 166.5%
        color: $white
        margin: 6.4% 0 8.5%
        opacity: 0.7

    &__btn
        padding: 3rem 6rem
        opacity: 0.8
        border: none
        border-radius: 10px
        font-weight: 500
        font-size: 1.6rem
        line-height: 19px
        color: #8866D4
        cursor: pointer
