@import "../../node_modules/normalize-scss/sass/normalize/import-now"
@import "fonts"


.wrapper
    max-width: 1200px
    margin: 0 auto
    position: relative

html
    font-size: 10px

body
    font-family: 'Rubik', sans-serif
    font-weight: normal
    font-size: 18px
    color: #4E5983


